{% load static %}

<footer>
    <nav class="">
        <div class="container-nav-footer">
            <div class="" id="">
                <ul class="container-link-nav-footer">
                    <li class="">
                        <a class="link-nav-footer" href="{% url 'construction' %}">FAQ</a>
                    </li>
                    <li class="">
                        <a class="link-nav-footer" href="{% url 'construction' %}">Terms and conditions of use</a>
                    </li>
                    <li class="">
                        <a class="link-nav-footer" href="{% url 'construction' %}">Legal Statement</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <p class="copyright-footer">copyright &copy; {% now 'Y' %} Projet BeCode</p>
</footer>