<footer>
    <nav class="">
        <div class="">
            <a class="" href="{% url 'login-collaborator' %}">Always There</a>
            <div class="" id="">
            <ul class="">
                <li class="">
                    <a class="" href="{% url 'index-collaborator' %}">Collaborateurs</a>
                </li>
                <li class="">
                    <a class="" href="{% url 'index-user' %}">Utilisateurs</a>
                </li>
                <li class="">
                    <a class="" href="{% url 'index-blog-user' %}">Blog</a>
                </li>
                </li>
                <li class="">
                    <a class="" href="{% url 'new-post-user' %}">Newpost</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <p>copyright &copy; Projet BeCode</p>
</footer>