{% load static %}

<nav class="nav-bar">
    <div class="container-nav-bar">
        <a class="link-homepage-header" href="{% url 'homepage' %}"><img class="image-logo" src="{% static 'core/img/img_site/homepage/logo.jpg' %}" alt="logo"></a>
        <div class="" id="">
            <ul class="container-link-nav-header">
                {% comment %} si je ne met que {% request.user.lastname %}, je peux afficher le lastname {% endcomment %}
                {% comment %} Le if ici permet de savoir si on est enregistré ou pas {% endcomment %}
                {% if request.user.is_authenticated %} 
                <li class="container-link-header">
                    <a class="link-nav-header" href="{% url 'logout' %}">Logout</a>
                </li>
                {% comment %} <li class="container-link-header">
                    <a class="link-nav-header" href="{% url 'data-collaborator' %}">My Profile</a>
                </li> {% endcomment %}
                {% else %}
                <li class="container-link-header">
                    <a class="link-nav-header" href="{% url 'register-account-collaborator' %}">Sign up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>