{% extends 'layouts/base.html' %}

{% block title %}Collaborator data{% endblock title %}

{% block body %}
    <h1>Data collaborator</h1>

    <p>ID_collaborator : {{ id_collaborator }}</p>
    <p>Creation date : {{ creation_date|date:"d F Y à H:i:s" }}</p>
    <p>Firstname : {{ firstname }}</p>
    <p>Lastname : {{ lastname }}</p>
    {% comment %} <p>Password : {{ password }}</p> {% endcomment %}
    <p>Email : {{ email }}</p>
    <p>Street : {{ street }}</p>
    <p>Number street : {{ number_street }}</p>
    <p>Zip code : {{ zip_code }}</p>
    <p>Town : {{ town }}</p>
    <p>Country : {{ country }}</p>
    <p>gsm : {{ gsm }}</p>

    <ul>
        <li>
            <a href="{% url 'index-collaborator' %}">Index</a>
        </li>
        <li>
            <a href="{% url 'update-collaborator' id_collaborator %}">Update</a>
        </li>
        <li>
            <a href="{% url 'delete-collaborator' id_collaborator %}">Delete</a>
        </li>
    </ul>

{% endblock body %}
