{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}Index collaborator{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'collaborator_account/css/index.css' %}">
{% endblock stylesheets %}

{% block body %}
    <div class="container-title">
        <H1>We are currently {{ collaborator_number }} collaborators :</H1>
    </div>
    <div class="container-card-index-collaborator">
    {% for profile in collaborators %}
        <a href="{% url 'data-collaborator' profile.id_collaborator %}">
            <ul class="container-card-collaborator">
            {% if profile.image %}
                <li><img src="{{ profile.image.url }}" alt="Photo profil"></li>
            {% endif %}
                <li class="name-card-index"> {{ profile.firstname }} {{ profile.lastname }} </li>
                <li class="email-card-index"> {{ profile.email }} </li>
            </ul>
        </a>   
    {% endfor %}
    </div> 
{% endblock body %}