{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}User data{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'user_account/css/data.css' %}">
{% endblock stylesheets %}

{% block body %}
    <div class="container-title">
        {% if image %}
        <img src="{{ image.url }}" alt="Picture of me">
        {% endif %}
        <h1>{{ firstname }} {{ lastname }}</h1>
    </div>
    <div class="container-card-index-user">
        <ul class="container-card-user">
            <li>Email : {{ email }}</li>
            <li>Username : {{ username }}</li>
            <li>Street : {{ street }}</li>
            <li>Number street : {{ number_street }}</li>
            <li>Zip code : {{ zip_code }}</li>
            <li>Town : {{ town }}</li>
            <li>Country : {{ country }}</li>
            <li>gsm : + {{ gsm }}</li>
        </ul>
    </div>
    <div class="container-button">
        <a href="{% url 'index-user' %}"><button>Index</button></a>
        <a href="{% url 'update-user' id_user %}"><button>Update</button></a>
        <a href="{% url 'delete-user' id_user %}"><button>Delete</button></a>
    </div>

{% endblock body %}